---
import {getGameById} from '@lib/database'
import Layout from "@layouts/Layout.astro";
import GameInProgress from '@components/game/game-in-progress'
import { Toaster } from 'react-hot-toast';
import { getUser } from '@lib/auth';

const {user, accessToken} = await getUser(Astro.request) || {user: null, accessToken: null};
const userId = user?.id

if (!userId || !accessToken) {
  return Astro.redirect("/login");
}

const { slug } = Astro.params
const {data, error} = slug ? await getGameById(slug, accessToken) : {data: null, error: null}
const game = data ? data[0] : null

if (!game) {
  return Astro.redirect("/games");
}

---

<Layout title='Current Greedy Game'>
  <Toaster />
  <div class="max-w-3xl mx-auto">
    <GameInProgress client:only="react" slug={slug} currentGame={game} accessToken={accessToken} />
  </div>
</Layout>