---
import Layout from "@layouts/Layout.astro";

---



<Layout title="Check your email">
  <div class=" min-h-screen font-mono p-4">
    <h1 class="w-fit mx-auto text-3xl mt-24">✉️ Check your email to verify your account</h1>
  </div>
</Layout>