---
import Layout from "@layouts/Layout.astro";
import { Toaster } from "react-hot-toast";

import Game from "@components/game/game";
import { getUser } from "@lib/auth";



let session = await getUser(Astro.request)
let user = session?.user
let accessToken = session?.accessToken

if (!session) {
  return Astro.redirect("/login")
} else {
  return Astro.redirect("/games")
}


---

<Layout title="Welcome to Astro.">
  <main class="max-w-4xl mx-auto">
    {
      user !== null ? (
        <Game client:load accessToken={accessToken || ""} />
      ) : (
        <div class="w-fit mx-auto border-2 border-gray-500 rounded p-4">
          <h1 class=" text-2xl">Sign up for the Greedy App.</h1>
          <form class="w-96 my-4"  method="POST">
            
            <div class="flex flex-col m">
              <label for="email">Email</label>
              <input id="email" type="email" name="email" class="bg-gray-50 rounded p-2" />
            </div>
            <div class="flex flex-col">
              <label for="password">Password</label>
              <input id="password" type="password" name="password" class="bg-gray-50 rounded p-2" />
            </div>
            <button type="submit" class=" px-4 py-2 mt-4 bg-black rounded hover:opacity-80 text-white ">Sign up</button>
          </form>
          <span class="">already signed up? <a href="/login" class="text-black underline">Log in</a></span>
        </div>
      )
    }
  </main>
</Layout>

<script>
  const vals = window.location.hash.substring(1).split("&").map(kv => kv.split("="))
  const hashParameters = new Map(vals as any) 
  if(hashParameters.get('access_token')){ 
    const data = await fetch("/api/login", {
      method: "POST",
      headers: new Headers({"Content-Type": "application/json"}),
      credentials: "same-origin",
      body: JSON.stringify({
          access_token: hashParameters.get('access_token'),
          expires_in: hashParameters.get('expires_in'),
          refresh_token: hashParameters.get('refresh_token'),
      }),
    })
  }
</script>