---
import Layout from "@layouts/Layout.astro";
import { supabase } from "@lib/supabase";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email") as string;
    const password = data.get("password") as string
    // Do something with the data

    const {data: userData, error} = await supabase.auth.signUp({
    email,
    password}
    )

    if (error) {
      throw error
    }
    if (userData?.user) Astro.cookies.set("user", userData.user)
    return Astro.redirect("/check-your-email")

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="Sign Up for Greedy App">
  <div class="w-fit mx-auto rounded-sm p-4  min-h-screen font-mono">
    <h1 class=" text-2xl">Sign up for the Greedy App.</h1>
    <form class="w-96 my-4"  method="POST">
      <div class="flex flex-col m">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="bg-gray-50 rounded-sm p-2" />
      </div>
      <div class="flex flex-col">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="bg-gray-50 rounded-sm p-2" />
      </div>
      <button type="submit" class=" px-4 py-2 mt-4 bg-black rounded-sm hover:opacity-80 text-white ">Sign up</button>
    </form>
    <span class="">already signed up? <a href="/login" class="text-black underline">Log in</a></span>
  </div>
</Layout>